.wrapper{
    height: 200px;
    width: 100%;
    border: solid black 1px;
    display: -ms-grid;
    display: grid;
    overflow: hidden;
    grid-gap: 0px 20px;
    grid-auto-flow: column;
    .carousel-component{

        border: solid black 1px;
    }
}